:root {
--color-primarylighter: rgba(213,187,231,1);
--color-primarylighter80: rgba(213,187,231,0.8);
--color-primarylighter60: rgba(213,187,231,0.6);
--color-primarylighter40: rgba(213,187,231,0.4);
--color-primarylighter20: rgba(213,187,231,0.2);
--color-primarylight: rgba(176,135,203,1);
--color-primarylight80: rgba(176,135,203,0.8);
--color-primarylight60: rgba(176,135,203,0.6);
--color-primarylight40: rgba(176,135,203,0.4);
--color-primarylight20: rgba(176,135,203,0.2);
--color-primary: rgba(138,90,171,1);
--color-primary80: rgba(138,90,171,0.8);
--color-primary60: rgba(138,90,171,0.6);
--color-primary40: rgba(138,90,171,0.4);
--color-primary20: rgba(138,90,171,0.2);
--color-primarydark: rgba(112,59,148,1);
--color-primarydark80: rgba(112,59,148,0.8);
--color-primarydark60: rgba(112,59,148,0.6);
--color-primarydark40: rgba(112,59,148,0.4);
--color-primarydark20: rgba(112,59,148,0.2);
--color-primarydarker: rgba(89,34,127,1);
--color-primarydarker80: rgba(89,34,127,0.8);
--color-primarydarker60: rgba(89,34,127,0.6);
--color-primarydarker40: rgba(89,34,127,0.4);
--color-primarydarker20: rgba(89,34,127,0.2);
--color-secondarylighter: rgba(164,176,214,1);
--color-secondarylighter80: rgba(164,176,214,0.8);
--color-secondarylighter60: rgba(164,176,214,0.6);
--color-secondarylighter40: rgba(164,176,214,0.4);
--color-secondarylighter20: rgba(164,176,214,0.2);
--color-secondarylight: rgba(113,129,182,1);
--color-secondarylight80: rgba(113,129,182,0.8);
--color-secondarylight60: rgba(113,129,182,0.6);
--color-secondarylight40: rgba(113,129,182,0.4);
--color-secondarylight20: rgba(113,129,182,0.2);
--color-secondary: rgba(76,94,155,1);
--color-secondary80: rgba(76,94,155,0.8);
--color-secondary60: rgba(76,94,155,0.6);
--color-secondary40: rgba(76,94,155,0.4);
--color-secondary20: rgba(76,94,155,0.2);
--color-secondarydark: rgba(51,70,133,1);
--color-secondarydark80: rgba(51,70,133,0.8);
--color-secondarydark60: rgba(51,70,133,0.6);
--color-secondarydark40: rgba(51,70,133,0.4);
--color-secondarydark20: rgba(51,70,133,0.2);
--color-secondarydarker: rgba(30,48,109,1);
--color-secondarydarker80: rgba(30,48,109,0.8);
--color-secondarydarker60: rgba(30,48,109,0.6);
--color-secondarydarker40: rgba(30,48,109,0.4);
--color-secondarydarker20: rgba(30,48,109,0.2);
--color-backgroundlighter: rgba(41,43,68,1);
--color-backgroundlighter80: rgba(41,43,68,0.8);
--color-backgroundlighter60: rgba(41,43,68,0.6);
--color-backgroundlighter40: rgba(41,43,68,0.4);
--color-backgroundlighter20: rgba(41,43,68,0.2);
--color-backgroundlight: rgba(25,26,53,1);
--color-backgroundlight80: rgba(25,26,53,0.8);
--color-backgroundlight60: rgba(25,26,53,0.6);
--color-backgroundlight40: rgba(25,26,53,0.4);
--color-backgroundlight20: rgba(25,26,53,0.2);
--color-background: rgba(13,14,37,1);
--color-background80: rgba(13,14,37,0.8);
--color-background60: rgba(13,14,37,0.6);
--color-background40: rgba(13,14,37,0.4);
--color-background20: rgba(13,14,37,0.2);
--color-backgrounddark: rgba(5,6,22,1);
--color-backgrounddark80: rgba(5,6,22,0.8);
--color-backgrounddark60: rgba(5,6,22,0.6);
--color-backgrounddark40: rgba(5,6,22,0.4);
--color-backgrounddark20: rgba(5,6,22,0.2);
--color-backgrounddarker: rgba(0,0,0,1);
--color-backgrounddarker80: rgba(0,0,0,0.8);
--color-backgrounddarker60: rgba(0,0,0,0.6);
--color-backgrounddarker40: rgba(0,0,0,0.4);
--color-backgrounddarker20: rgba(0,0,0,0.2);
--color-surfacelighter: rgba(255,255,255,1);
--color-surfacelighter80: rgba(255,255,255,0.8);
--color-surfacelighter60: rgba(255,255,255,0.6);
--color-surfacelighter40: rgba(255,255,255,0.4);
--color-surfacelighter20: rgba(255,255,255,0.2);
--color-surfacelight: rgba(225,225,225,1);
--color-surfacelight80: rgba(225,225,225,0.8);
--color-surfacelight60: rgba(225,225,225,0.6);
--color-surfacelight40: rgba(225,225,225,0.4);
--color-surfacelight20: rgba(225,225,225,0.2);
--color-surface: rgba(180,180,180,1);
--color-surface80: rgba(180,180,180,0.8);
--color-surface60: rgba(180,180,180,0.6);
--color-surface40: rgba(180,180,180,0.4);
--color-surface20: rgba(180,180,180,0.2);
--color-surfacedark: rgba(137,137,137,1);
--color-surfacedark80: rgba(137,137,137,0.8);
--color-surfacedark60: rgba(137,137,137,0.6);
--color-surfacedark40: rgba(137,137,137,0.4);
--color-surfacedark20: rgba(137,137,137,0.2);
--color-surfacedarker: rgba(88,88,88,1);
--color-surfacedarker80: rgba(88,88,88,0.8);
--color-surfacedarker60: rgba(88,88,88,0.6);
--color-surfacedarker40: rgba(88,88,88,0.4);
--color-surfacedarker20: rgba(88,88,88,0.2);
--color-signal1: rgba(251,185,25,1);
--color-signal180: rgba(251,185,25,0.8);
--color-signal160: rgba(251,185,25,0.6);
--color-signal140: rgba(251,185,25,0.4);
--color-signal120: rgba(251,185,25,0.2);
--color-signal2: rgba(251,94,25,1);
--color-signal280: rgba(251,94,25,0.8);
--color-signal260: rgba(251,94,25,0.6);
--color-signal240: rgba(251,94,25,0.4);
--color-signal220: rgba(251,94,25,0.2);
--color-signal3: rgba(199,150,44,1);
--color-signal380: rgba(199,150,44,0.8);
--color-signal360: rgba(199,150,44,0.6);
--color-signal340: rgba(199,150,44,0.4);
--color-signal320: rgba(199,150,44,0.2);
--color-signal4: rgba(25,251,184,1);
--color-signal480: rgba(25,251,184,0.8);
--color-signal460: rgba(25,251,184,0.6);
--color-signal440: rgba(25,251,184,0.4);
--color-signal420: rgba(25,251,184,0.2);
--color-signal5: rgba(34,180,103,1);
--color-signal580: rgba(34,180,103,0.8);
--color-signal560: rgba(34,180,103,0.6);
--color-signal540: rgba(34,180,103,0.4);
--color-signal520: rgba(34,180,103,0.2);
}